@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
:root {
  --pf-global--FontFamily--sans-serif: "IBM Plex Sans", Arial, sans-serif;
  --pf-v5-global--FontFamily--sans-serif: "IBM Plex Sans", Arial, sans-serif;
  --pf-v5-global--FontFamily--text: "IBM Plex Sans", Arial, sans-serif;
  --pf-v5-global--FontFamily--heading: "IBM Plex Sans", Arial, sans-serif;
  --pf-v5-global--FontFamily--heading--sans-serif: "IBM Plex Sans", Arial, sans-serif;
}

html,
body,
.login-pf {
  font-family: "IBM Plex Sans", Arial, sans-serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

.pf-v5-c-masthead {
  background-color: #161616;
  border-bottom: 1px solid #393939;
  padding: 0px 0px 0px 16px;
}
.pf-v5-c-masthead .pf-v5-c-masthead__toggle {
  margin-right: 16px;
  width: 48px;
  height: 48px;
}
.pf-v5-c-masthead .pf-v5-c-masthead__toggle #nav-toggle {
  width: 48px;
  height: 48px;
  background-image: url("../img/menu.svg");
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px;
}
.pf-v5-c-masthead .pf-v5-c-masthead__toggle #nav-toggle svg {
  display: none;
}
.pf-v5-c-masthead .pf-v5-c-masthead__toggle #nav-toggle:hover {
  background-color: #393939;
}
.pf-v5-c-masthead .pf-v5-c-masthead__toggle #nav-toggle:focus-visible {
  outline: 2px solid #f4f4f4;
  outline-offset: -2px;
}
.pf-v5-c-masthead .pf-v5-c-masthead__brand:focus-visible {
  outline: 2px solid #f4f4f4;
}
.pf-v5-c-masthead .pf-v5-c-masthead__brand img {
  height: 24px;
}
.pf-v5-c-masthead .pf-v5-c-masthead__content {
  height: 48px;
  min-height: 48px;
}
.pf-v5-c-masthead .pf-v5-c-masthead__content .pf-v5-c-toolbar {
  padding: 0px;
  background-color: #161616;
}
.pf-v5-c-masthead .pf-v5-c-masthead__content .pf-v5-c-toolbar .pf-v5-c-toolbar__item {
  margin-right: 0px;
}
.pf-v5-c-masthead .pf-v5-c-masthead__content .pf-v5-c-toolbar .pf-v5-c-toolbar__item .pf-v5-c-button {
  font-size: 14px;
}
.pf-v5-c-masthead .pf-v5-c-masthead__content .pf-v5-c-toolbar .pf-v5-c-toolbar__item .pf-v5-c-button.pf-m-link {
  color: #f4f4f4;
  height: 48px;
  line-height: 16px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}
.pf-v5-c-masthead .pf-v5-c-masthead__content .pf-v5-c-toolbar .pf-v5-c-toolbar__item .pf-v5-c-button.pf-m-link:focus-visible {
  outline: 2px solid #f4f4f4;
  outline-offset: -2px;
}
.pf-v5-c-masthead .pf-v5-c-masthead__content .pf-v5-c-toolbar .pf-v5-c-toolbar__item .pf-v5-c-button.pf-m-link:hover {
  background-color: #393939;
  text-decoration: none;
}
.pf-v5-c-masthead .pf-v5-c-masthead__content .pf-v5-c-toolbar .pf-v5-c-toolbar__item .pf-v5-c-button.pf-m-link .pf-v5-c-button__icon {
  width: 16px;
  height: 16px;
  background-image: url("../img/launch--white.svg");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 16px;
}
.pf-v5-c-masthead .pf-v5-c-masthead__content .pf-v5-c-toolbar .pf-v5-c-toolbar__item .pf-v5-c-button.pf-m-link .pf-v5-c-button__icon svg {
  display: none;
}
.pf-v5-c-masthead .pf-v5-c-masthead__content .pf-v5-c-toolbar .pf-v5-c-toolbar__item .pf-v5-c-button.pf-m-link .pf-v5-c-button__icon.pf-m-end {
  margin-left: 16px;
}
.pf-v5-c-masthead .pf-v5-c-masthead__content .pf-v5-c-toolbar .pf-v5-c-toolbar__item .pf-v5-c-button.pf-m-link .pf-v5-c-button__icon:after {
  display: none;
}
.pf-v5-c-masthead .pf-v5-c-masthead__content .pf-v5-c-menu-toggle {
  height: 48px;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 14px;
  line-height: 24px;
  min-height: 40px;
  background-color: #161616;
}
.pf-v5-c-masthead .pf-v5-c-masthead__content .pf-v5-c-menu-toggle .pf-v5-c-menu-toggle__toggle-icon {
  width: 20px;
  height: 20px;
  background-image: url("../img/user.svg");
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 0px;
}
.pf-v5-c-masthead .pf-v5-c-masthead__content .pf-v5-c-menu-toggle .pf-v5-c-menu-toggle__toggle-icon svg {
  display: none;
}
.pf-v5-c-masthead .pf-v5-c-masthead__content .pf-v5-c-menu-toggle.pf-m-expanded {
  outline: 2px solid #f4f4f4;
  outline-offset: -2px;
}
.pf-v5-c-masthead .pf-v5-c-masthead__content .pf-v5-c-menu-toggle:hover {
  color: #f4f4f4;
  background-color: #393939;
}
.pf-v5-c-masthead .pf-v5-c-masthead__content .pf-v5-c-menu-toggle:focus-visible {
  color: #f4f4f4;
  background-color: inherit;
  outline: 2px solid #f4f4f4;
  outline-offset: -2px;
}
.pf-v5-c-masthead .pf-v5-c-masthead__content .pf-v5-c-menu-toggle:before, .pf-v5-c-masthead .pf-v5-c-masthead__content .pf-v5-c-menu-toggle:after {
  display: none !important;
}
.pf-v5-c-masthead .pf-v5-c-masthead__content .pf-v5-c-avatar {
  display: none;
  width: 28px;
  height: 28px;
}
.pf-v5-c-masthead .pf-v5-c-masthead__content .pf-v5-c-avatar circle {
  fill: #0A9D81 !important;
}
.pf-v5-c-masthead .pf-v5-c-masthead__content .pf-v5-c-avatar path {
  fill: #f4f4f4 !important;
}

.pf-v5-c-page__sidebar {
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
}
.pf-v5-c-page__sidebar .pf-v5-c-nav__list {
  padding-top: 20px;
}
.pf-v5-c-page__sidebar .pf-v5-c-nav__link {
  color: #525252;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 8px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  min-height: 40px;
}
.pf-v5-c-page__sidebar .pf-v5-c-nav__link:hover {
  color: #161616;
  background-color: #f4f4f4;
}
.pf-v5-c-page__sidebar .pf-v5-c-nav__link:before {
  display: none !important;
}
.pf-v5-c-page__sidebar .pf-v5-c-nav__link:focus, .pf-v5-c-page__sidebar .pf-v5-c-nav__link:active {
  color: #161616;
  background-color: inherit;
}
.pf-v5-c-page__sidebar .pf-v5-c-nav__link:focus-visible {
  color: #161616;
  background-color: inherit;
  outline: 2px solid #0A9D81;
  outline-offset: -2px;
}
.pf-v5-c-page__sidebar .pf-v5-c-nav__link.pf-m-current {
  background-color: #e8e8e8;
  color: #161616;
}
.pf-v5-c-page__sidebar .pf-v5-c-nav__link.pf-m-current:after {
  border-color: #0A9D81;
}
.pf-v5-c-page__sidebar .pf-v5-c-nav__link .pf-v5-c-nav__toggle {
  height: 24px;
}
.pf-v5-c-page__sidebar .pf-v5-c-nav__link .pf-v5-c-nav__toggle .pf-v5-c-nav__toggle-icon {
  width: 16px;
  height: 16px;
  margin-top: 4px;
  background-image: url("../img/chevron--right.svg");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}
.pf-v5-c-page__sidebar .pf-v5-c-nav__link .pf-v5-c-nav__toggle .pf-v5-c-nav__toggle-icon svg {
  display: none;
}
.pf-v5-c-page__sidebar .pf-v5-c-nav__item.pf-m-expandable.pf-m-current button {
  background-color: #e8e8e8;
  color: #161616;
}
.pf-v5-c-page__sidebar .pf-v5-c-nav__item.pf-m-expandable.pf-m-current button:after {
  border-color: #0A9D81;
}
.pf-v5-c-page__sidebar .pf-v5-c-nav__item.pf-m-expandable.pf-m-current.pf-m-expanded button {
  background-color: #ffffff;
  color: #161616;
}
.pf-v5-c-page__sidebar .pf-v5-c-nav__item.pf-m-expandable.pf-m-current.pf-m-expanded button:after {
  border-color: transparent;
}
.pf-v5-c-page__sidebar .pf-v5-c-nav__item:before {
  display: none !important;
}
.pf-v5-c-page__sidebar .pf-v5-c-nav__subnav {
  padding-left: 0px;
  padding-bottom: 0px;
}
.pf-v5-c-page__sidebar .pf-v5-c-nav__subnav .pf-v5-c-nav__list {
  padding-top: 0px;
}
.pf-v5-c-page__sidebar .pf-v5-c-nav__subnav .pf-v5-c-nav__list .pf-v5-c-nav__link {
  padding-left: 32px;
  font-weight: 400;
}
.pf-v5-c-page__sidebar .pf-v5-c-nav__subnav .pf-v5-c-nav__list .pf-v5-c-nav__link:after {
  display: none;
}
.pf-v5-c-page__sidebar .pf-v5-c-nav__subnav .pf-v5-c-nav__list .pf-v5-c-nav__link.pf-m-current {
  font-weight: 600;
}
.pf-v5-c-page__sidebar .pf-v5-c-nav__subnav .pf-v5-c-nav__list .pf-v5-c-nav__link.pf-m-current:after {
  display: block;
  border-color: #0A9D81;
}

.pf-v5-theme-dark .pf-v5-c-page__sidebar {
  background-color: #161616;
  border-right: 1px solid #393939;
}
.pf-v5-theme-dark .pf-v5-c-page__sidebar .pf-v5-c-nav__link {
  color: #c6c6c6;
}
.pf-v5-theme-dark .pf-v5-c-page__sidebar .pf-v5-c-nav__link:hover {
  color: #f4f4f4;
  background-color: #262626;
}
.pf-v5-theme-dark .pf-v5-c-page__sidebar .pf-v5-c-nav__link:focus, .pf-v5-theme-dark .pf-v5-c-page__sidebar .pf-v5-c-nav__link:active {
  color: #f4f4f4;
  background-color: inherit;
}
.pf-v5-theme-dark .pf-v5-c-page__sidebar .pf-v5-c-nav__link:focus-visible {
  color: #f4f4f4;
  background-color: inherit;
  outline: 2px solid #f4f4f4;
}
.pf-v5-theme-dark .pf-v5-c-page__sidebar .pf-v5-c-nav__link.pf-m-current {
  background-color: #333333;
  color: #f4f4f4;
}
.pf-v5-theme-dark .pf-v5-c-page__sidebar .pf-v5-c-nav__link.pf-m-current:after {
  border-color: #0A9D81;
}
.pf-v5-theme-dark .pf-v5-c-page__sidebar .pf-v5-c-nav__link .pf-v5-c-nav__toggle .pf-v5-c-nav__toggle-icon {
  background-image: url("../img/chevron--right--white.svg");
}
.pf-v5-theme-dark .pf-v5-c-page__sidebar .pf-v5-c-nav__item.pf-m-expandable.pf-m-current button {
  background-color: #333333;
  color: #f4f4f4;
}
.pf-v5-theme-dark .pf-v5-c-page__sidebar .pf-v5-c-nav__item.pf-m-expandable.pf-m-current button:after {
  border-color: #0A9D81;
}
.pf-v5-theme-dark .pf-v5-c-page__sidebar .pf-v5-c-nav__item.pf-m-expandable.pf-m-current.pf-m-expanded button {
  background-color: #161616;
  color: #f4f4f4;
}
.pf-v5-theme-dark .pf-v5-c-page__sidebar .pf-v5-c-nav__subnav .pf-v5-c-nav__list .pf-v5-c-nav__link.pf-m-current:after {
  border-color: #0A9D81;
}

.pf-v5-c-button.pf-m-primary {
  background-color: #0A9D81;
}
.pf-v5-c-button.pf-m-primary:hover, .pf-v5-c-button.pf-m-primary:focus {
  background-color: #088069;
}

.pf-v5-c-button.pf-m-secondary {
  background-color: #393939;
  color: #f4f4f4;
  border: none;
  font-size: 14px;
  line-height: 16px;
  padding: 12px 64px 12px 16px;
  outline: none;
}
.pf-v5-c-button.pf-m-secondary::after {
  display: none;
}
.pf-v5-c-button.pf-m-secondary:hover {
  background-color: #525252;
}
.pf-v5-c-button.pf-m-secondary:focus-visible {
  box-shadow: inset 0 0 0 2px #0A9D81, inset 0 0 0 3px #e0e0e0;
}

.pf-v5-theme-dark .pf-v5-c-button.pf-m-secondary {
  background-color: #6f6f6f;
  color: #f4f4f4;
}
.pf-v5-theme-dark .pf-v5-c-button.pf-m-secondary:hover, .pf-v5-theme-dark .pf-v5-c-button.pf-m-secondary:focus {
  background-color: #525252;
}
.pf-v5-theme-dark .pf-v5-c-button.pf-m-secondary:focus-visible {
  box-shadow: inset 0 0 0 2px #ffffff, inset 0 0 0 3px #262626;
}

.pf-v5-c-button.pf-m-link {
  font-size: 14px;
  color: #0A9D81;
  line-height: 16px;
  display: flex;
  min-height: 40px;
  align-items: center;
}
.pf-v5-c-button.pf-m-link:hover {
  background-color: #e0e0e0;
}
.pf-v5-c-button.pf-m-link:focus-visible {
  outline: 2px solid #0A9D81;
  outline-offset: -2px;
}
.pf-v5-c-button.pf-m-link .pf-v5-c-button__icon {
  margin-right: 8px;
}
.pf-v5-c-button.pf-m-link#refresh-page .pf-v5-c-button__icon {
  width: 16px;
  height: 16px;
  background-image: url("../img/renew--primary.svg");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}
.pf-v5-c-button.pf-m-link#refresh-page .pf-v5-c-button__icon svg {
  display: none;
}
.pf-v5-c-button.pf-m-link .pf-v5-c-icon {
  display: none;
}
.pf-v5-c-button.pf-m-link .pf-v5-c-icon svg {
  display: none;
}

.pf-v5-theme-dark .pf-v5-c-button.pf-m-link {
  color: #0A9D81;
}
.pf-v5-theme-dark .pf-v5-c-button.pf-m-link:hover {
  background-color: #393939;
}
.pf-v5-theme-dark .pf-v5-c-button.pf-m-link:focus-visible {
  outline: 2px solid #0A9D81;
}
.pf-v5-theme-dark .pf-v5-c-button.pf-m-link#refresh-page .pf-v5-c-button__icon {
  background-image: url("../img/renew--primary.svg");
}

.pf-v5-c-alert {
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 3px solid;
}
.pf-v5-c-alert .pf-v5-c-alert__title {
  font-size: 14px;
  font-weight: 400;
  color: #161616;
}
.pf-v5-c-alert:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  content: "";
  filter: opacity(0.4);
  pointer-events: none;
}
.pf-v5-c-alert.pf-m-danger {
  background: #fff1f1;
  border-color: #da1e28;
}
.pf-v5-c-alert.pf-m-danger .fa-exclamation-circle:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: auto;
  background: url("../img/error-red-60.svg") center/contain no-repeat;
}
.pf-v5-c-alert.pf-m-danger:before {
  border-color: #da1e28;
}
.pf-v5-c-alert.pf-m-info {
  background: #edf5ff;
  border-color: #0f62fe;
}
.pf-v5-c-alert.pf-m-info .fa-info-circle:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: auto;
  background: url("../img/info-blue-60.svg") center/contain no-repeat;
}
.pf-v5-c-alert.pf-m-info:before {
  border-color: #0f62fe;
}
.pf-v5-c-alert.pf-m-warning {
  background: #fcf4d6;
  border-color: #f1c21b;
}
.pf-v5-c-alert.pf-m-warning .fa-exclamation-triangle:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: auto;
  background: url("../img/warning-yellow-30.svg") center/contain no-repeat;
}
.pf-v5-c-alert.pf-m-warning:before {
  border-color: #f1c21b;
}
.pf-v5-c-alert.pf-m-success {
  background: #defbe6;
  border-color: #198038;
}
.pf-v5-c-alert.pf-m-success .fa-check-circle:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: auto;
  background: url("../img/success-green-60.svg") center/contain no-repeat;
}
.pf-v5-c-alert.pf-m-success:before {
  border-color: #198038;
}

.pf-v5-c-alert-group {
  top: 64px !important;
  right: 16px !important;
}

.pf-v5-c-page__main .pf-v5-c-toolbar {
  background-color: #ffffff;
  padding: 0px;
  font-size: 14px;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content {
  padding: 0px;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item {
  margin: 0px;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group {
  background-color: #ffffff;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group__text .pf-v5-c-text-input-group__icon {
  left: 12px;
  width: 16px;
  height: 16px;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group__text .pf-v5-c-text-input-group__icon svg {
  display: none;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group__text .pf-v5-c-text-input-group__icon:after {
  background-image: url("../img/search--gray100.svg");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: block;
  content: "";
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group__text .pf-v5-c-text-input-group__text-input {
  min-height: 40px;
  padding-left: 44px;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group__text .pf-v5-c-text-input-group__text-input:focus {
  outline: 2px solid #0A9D81;
  outline-offset: -2px;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group__text .pf-v5-c-text-input-group__text-input::placeholder {
  color: #8d8d8d;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group__text:hover {
  background-color: #e0e0e0;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group__text:before {
  border-color: transparent;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group__text:after {
  border-color: transparent;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group__utilities {
  margin: 0px;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group__utilities .pf-v5-c-button.pf-m-plain {
  padding: 0px;
  margin: 0px;
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group__utilities .pf-v5-c-button.pf-m-plain svg {
  display: none;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group__utilities .pf-v5-c-button.pf-m-plain:after {
  background-image: url("../img/close--gray100.svg");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group__utilities .pf-v5-c-button.pf-m-plain:hover {
  background-color: #e0e0e0;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group__utilities .pf-v5-c-button.pf-m-plain:focus-visible {
  outline: 2px solid #0A9D81;
  outline-offset: -2px;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group__utilities .pf-v5-c-button.pf-m-plain:after {
  border-color: transparent;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-button.pf-m-control {
  background-color: #ffffff;
  padding-left: 12px;
  padding-right: 12px;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-button.pf-m-control svg {
  display: none;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-button.pf-m-control:after {
  background-image: url("../img/arrow--right--gray100.svg");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-button.pf-m-control:focus-visible {
  outline: 2px solid #0A9D81;
  outline-offset: -2px;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-button.pf-m-control:hover {
  background-color: #e0e0e0;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-menu-toggle {
  min-height: 40px;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: 0px !important;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-menu-toggle:hover {
  background-color: #e0e0e0;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-menu-toggle:focus-visible {
  outline: 2px solid #0A9D81;
  outline-offset: -2px;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-menu-toggle b {
  font-weight: 400 !important;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-menu-toggle .pf-v5-c-menu-toggle__toggle-icon {
  margin-right: 0px;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-menu-toggle .pf-v5-c-menu-toggle__toggle-icon svg {
  display: none;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-menu-toggle .pf-v5-c-menu-toggle__toggle-icon:after {
  background-image: url("../img/chevron--down.svg");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: block;
  content: "";
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-pagination__nav {
  display: flex;
  align-items: center;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-pagination__nav .pf-v5-c-pagination__nav-control {
  margin-left: 0px !important;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-pagination__nav .pf-v5-c-pagination__nav-control .pf-v5-c-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0px;
  margin: 0px;
  border: none;
  background-color: transparent;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-pagination__nav .pf-v5-c-pagination__nav-control .pf-v5-c-button.pf-m-disabled, .pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-pagination__nav .pf-v5-c-pagination__nav-control .pf-v5-c-button:disabled {
  opacity: 0.4;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-pagination__nav .pf-v5-c-pagination__nav-control .pf-v5-c-button svg {
  display: none;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-pagination__nav .pf-v5-c-pagination__nav-control .pf-v5-c-button:hover {
  background-color: #e0e0e0;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-pagination__nav .pf-v5-c-pagination__nav-control .pf-v5-c-button:focus-visible {
  outline: 2px solid #0A9D81;
  outline-offset: -2px;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-pagination__nav .pf-v5-c-pagination__nav-control .pf-v5-c-button:after {
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  border-color: transparent;
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-pagination__nav .pf-v5-c-pagination__nav-control:first-child .pf-v5-c-button:after {
  background-image: url("../img/caret--left--gray100.svg");
}
.pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-pagination__nav .pf-v5-c-pagination__nav-control:last-child .pf-v5-c-button:after {
  background-image: url("../img/caret--right--gray100.svg");
}

.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-toolbar {
  background-color: #393939;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item {
  border: none;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group {
  background-color: #393939;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group__text .pf-v5-c-text-input-group__icon:after {
  background-image: url("../img/search--gray10.svg");
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group__text .pf-v5-c-text-input-group__text-input {
  color: #f4f4f4;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group__text .pf-v5-c-text-input-group__text-input:focus {
  outline: 2px solid #f4f4f4;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group__text .pf-v5-c-text-input-group__text-input::placeholder {
  color: #a8a8a8;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group__text:hover {
  background-color: #525252;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group__utilities .pf-v5-c-button.pf-m-plain:after {
  background-image: url("../img/close--gray10.svg");
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group__utilities .pf-v5-c-button.pf-m-plain:hover {
  background-color: #525252;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-text-input-group__utilities .pf-v5-c-button.pf-m-plain:focus-visible {
  outline: 2px solid #f4f4f4;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-button.pf-m-control {
  background-color: #393939;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-button.pf-m-control:after {
  background-image: url("../img/arrow--right--gray10.svg");
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-button.pf-m-control:focus-visible {
  outline: 2px solid #f4f4f4;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-toolbar__content .pf-v5-c-input-group__item .pf-v5-c-button.pf-m-control:hover {
  background-color: #525252;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-menu-toggle:hover {
  background-color: #525252;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-menu-toggle:focus-visible {
  outline: 2px solid #f4f4f4;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-menu-toggle .pf-v5-c-menu-toggle__toggle-icon:after {
  background-image: url("../img/chevron--down--white.svg");
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-pagination__nav .pf-v5-c-pagination__nav-control .pf-v5-c-button:hover {
  background-color: #525252;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-pagination__nav .pf-v5-c-pagination__nav-control .pf-v5-c-button:focus-visible {
  outline: 2px solid #f4f4f4;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-pagination__nav .pf-v5-c-pagination__nav-control:first-child .pf-v5-c-button:after {
  background-image: url("../img/caret--left--gray10.svg");
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-toolbar .pf-v5-c-pagination__nav .pf-v5-c-pagination__nav-control:last-child .pf-v5-c-button:after {
  background-image: url("../img/caret--right--gray10.svg");
}

.pf-v5-c-label {
  padding: 3px 8px !important;
  background-color: #c6c6c6;
}
.pf-v5-c-label .pf-v5-c-label__content .pf-v5-c-label__text {
  font-size: 12px !important;
  color: #262626;
}
.pf-v5-c-label .pf-v5-c-label__content:before {
  display: none;
}
.pf-v5-c-label.pf-m-blue {
  background-color: #d0e2ff;
}
.pf-v5-c-label.pf-m-blue .pf-v5-c-label__content .pf-v5-c-label__text {
  color: #0f62fe;
}
.pf-v5-c-label.pf-m-green {
  background-color: #BFEEE5;
}
.pf-v5-c-label.pf-m-green .pf-v5-c-label__content .pf-v5-c-label__text {
  color: #088069;
}
.pf-v5-c-label.pf-m-orange {
  background-color: #ffd9be;
}
.pf-v5-c-label.pf-m-orange .pf-v5-c-label__content .pf-v5-c-label__text {
  color: #ba4e00;
}
.pf-v5-c-label.pf-m-red {
  background-color: #ffd7d9;
}
.pf-v5-c-label.pf-m-red .pf-v5-c-label__content .pf-v5-c-label__text {
  color: #da1e28;
}
.pf-v5-c-label.pf-m-purple {
  background-color: #e8daff;
}
.pf-v5-c-label.pf-m-purple .pf-v5-c-label__content .pf-v5-c-label__text {
  color: #8a3ffc;
}
.pf-v5-c-label.pf-m-cyan {
  background-color: #bae6ff;
}
.pf-v5-c-label.pf-m-cyan .pf-v5-c-label__content .pf-v5-c-label__text {
  color: #0072c3;
}
.pf-v5-c-label.pf-m-gold {
  background-color: #fddc69;
}
.pf-v5-c-label.pf-m-gold .pf-v5-c-label__content .pf-v5-c-label__text {
  color: #8e6a00;
}

.pf-v5-theme-dark .pf-v5-c-label {
  background-color: #525252;
}
.pf-v5-theme-dark .pf-v5-c-label .pf-v5-c-label__content .pf-v5-c-label__text {
  color: #f4f4f4;
}
.pf-v5-theme-dark .pf-v5-c-label.pf-m-blue {
  background-color: #0043ce;
}
.pf-v5-theme-dark .pf-v5-c-label.pf-m-blue .pf-v5-c-label__content .pf-v5-c-label__text {
  color: #d0e2ff;
}
.pf-v5-theme-dark .pf-v5-c-label.pf-m-green {
  background-color: #085849;
}
.pf-v5-theme-dark .pf-v5-c-label.pf-m-green .pf-v5-c-label__content .pf-v5-c-label__text {
  color: #BFEEE5;
}
.pf-v5-theme-dark .pf-v5-c-label.pf-m-orange {
  background-color: #8a3800;
}
.pf-v5-theme-dark .pf-v5-c-label.pf-m-orange .pf-v5-c-label__content .pf-v5-c-label__text {
  color: #ffd9be;
}
.pf-v5-theme-dark .pf-v5-c-label.pf-m-red {
  background-color: #a2191f;
}
.pf-v5-theme-dark .pf-v5-c-label.pf-m-red .pf-v5-c-label__content .pf-v5-c-label__text {
  color: #ffd7d9;
}
.pf-v5-theme-dark .pf-v5-c-label.pf-m-purple {
  background-color: #6929c4;
}
.pf-v5-theme-dark .pf-v5-c-label.pf-m-purple .pf-v5-c-label__content .pf-v5-c-label__text {
  color: #e8daff;
}
.pf-v5-theme-dark .pf-v5-c-label.pf-m-cyan {
  background-color: #00539a;
}
.pf-v5-theme-dark .pf-v5-c-label.pf-m-cyan .pf-v5-c-label__content .pf-v5-c-label__text {
  color: #bae6ff;
}
.pf-v5-theme-dark .pf-v5-c-label.pf-m-gold {
  background-color: #684e00;
}
.pf-v5-theme-dark .pf-v5-c-label.pf-m-gold .pf-v5-c-label__content .pf-v5-c-label__text {
  color: #fddc69;
}

.pf-v5-c-spinner {
  --pf-v5-c-spinner--Color: #0A9D81;
}

.keycloak__loading-container {
  background-color: #f4f4f4;
}
.keycloak__loading-container #loading-text {
  color: #262626;
  font-size: 16px;
  font-weight: 400;
}

#app {
  background-color: #f4f4f4;
}
#app > .pf-v5-c-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pf-v5-c-page__main {
  background-color: #f4f4f4;
}
.pf-v5-c-page__main .pf-v5-c-spinner {
  margin: auto;
}

.pf-v5-theme-dark .keycloak__loading-container {
  background-color: #262626;
}
.pf-v5-theme-dark .keycloak__loading-container #loading-text {
  color: #f4f4f4;
}
.pf-v5-theme-dark #app {
  background-color: #262626;
}
.pf-v5-theme-dark .pf-v5-c-page__main {
  background-color: #262626;
}

:root {
  --pf-v5-global--primary-color--100: #0A9D81;
  --pf-v5-global--primary-color--200: #088069;
  --pf-v5-global--active-color--100: #0A9D81;
  --pf-v5-global--link--Color: #0A9D81;
  --pf-v5-global--link--Color--hover: #088069;
  --pf-v5-global--BorderRadius--sm: 0px;
  --pf-v5-global--BackgroundColor--100: #f4f4f4;
  --pf-v5-global--BackgroundColor--200: #e0e0e0;
  --pf-v5-global--BackgroundColor--light-100: #f4f4f4;
  --pf-v5-global--BackgroundColor--light-200: #e0e0e0;
  --pf-v5-global--BackgroundColor--light-300: #c6c6c6;
  --pf-v5-global--Color--100: #161616;
  --pf-v5-global--Color--200: #525252;
  --pf-v5-global--Color--light-100: #ffffff;
  --pf-v5-global--Color--dark-100: #161616;
  --pf-v5-global--BorderColor--100: #e0e0e0;
  --pf-v5-global--BorderColor--200: #e0e0e0;
  --pf-v5-global--BorderColor--300: #c6c6c6;
}

.pf-v5-theme-dark {
  --pf-v5-global--BackgroundColor--100: #161616;
  --pf-v5-global--BackgroundColor--200: #262626;
  --pf-v5-global--BackgroundColor--light-100: #161616;
  --pf-v5-global--BackgroundColor--light-200: #161616;
  --pf-v5-global--BackgroundColor--light-300: #161616;
  --pf-v5-global--Color--100: #f4f4f4;
  --pf-v5-global--Color--200: #c6c6c6;
  --pf-v5-global--Color--light-100: #f4f4f4;
  --pf-v5-global--Color--dark-100: #f4f4f4;
  --pf-v5-global--BorderColor--100: #393939;
  --pf-v5-global--BorderColor--200: #393939;
  --pf-v5-global--BorderColor--300: #393939;
}

.pf-v5-c-page__main .pf-v5-c-page__main-section {
  padding: 40px 48px 16px 48px;
  background-color: #f4f4f4;
}
@media screen and (max-width: 768px) {
  .pf-v5-c-page__main .pf-v5-c-page__main-section {
    padding: 32px 16px 16px 16px;
  }
}
.pf-v5-c-page__main .pf-v5-c-page__main-section:last-child {
  margin-bottom: 0px;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section h1.pf-m-2xl {
  font-size: 32px;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section h1.pf-m-xl {
  margin-bottom: 48px;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section h1.pf-m-xl:focus-visible {
  outline: 2px solid #0A9D81;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section h2.pf-m-xl {
  font-size: 20px;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-l-split__item h3 {
  margin-bottom: 4px !important;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-l-split__item h3 span {
  font-size: 16px;
  font-weight: 600;
  color: inherit;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-l-split__item span {
  font-size: 14px;
  font-weight: 400;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section p {
  font-size: 14px;
  color: #525252;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section ul {
  border-color: #e0e0e0;
  font-size: 14px;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section ul li {
  border-color: #e0e0e0;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-c-data-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row {
  padding-inline-start: 16px;
  padding-inline-end: 16px;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-c-data-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row .pf-v5-c-data-list__item-content .pf-v5-c-data-list__cell {
  padding-block-start: 16px;
  margin-inline-end: 16px;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-c-data-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row .pf-v5-c-data-list__item-content .pf-v5-c-data-list__item-action {
  padding-block-start: 16px;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-c-data-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row .pf-v5-c-data-list__expandable-content-body {
  padding: 16px 0px 32px 0px;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-c-data-list.signed-in-device-list {
  border: none;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-c-data-list.signed-in-device-list .pf-v5-c-data-list__item {
  border: none;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-c-data-list.signed-in-device-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row {
  margin-bottom: 16px;
  padding-inline-start: 24px;
  background-color: #ffffff;
  position: relative;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-c-data-list.signed-in-device-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row:first-child::before {
  display: block;
  content: "";
  width: 3px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0A9D81;
  position: absolute;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-c-data-list.signed-in-device-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row .pf-v5-l-grid__item {
  min-height: 40px;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-c-data-list.signed-in-device-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row .pf-v5-svg {
  color: transparent;
  width: 20px;
  height: 20px;
  background-image: url("../img/screen--gray100.svg");
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 2px;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-c-data-list.signed-in-device-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row .signed-in-device-grid {
  font-size: 12px !important;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-c-data-list.signed-in-device-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row .signed-in-device-grid .pf-v5-c-description-list__term .pf-v5-c-description-list__text {
  font-size: 12px !important;
  font-weight: 400;
  opacity: 0.6;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-c-data-list.signed-in-device-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row .signed-in-device-grid .pf-v5-c-description-list__description pf-v5-c-description-list__text {
  font-size: 12px !important;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-c-data-list.signed-in-device-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row .pf-v5-c-label {
  background-color: #BFEEE5;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-c-data-list.signed-in-device-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row .pf-v5-c-label .pf-v5-c-label__content .pf-v5-c-label__text {
  color: #088069;
}
.pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-c-data-list.signed-in-device-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row .pf-v5-c-label .pf-v5-c-label__content:before {
  display: none;
}
.pf-v5-c-page__main .pf-v5-c-form .pf-v5-c-form__label-text {
  font-size: 14px;
  color: #262626;
  font-weight: 400;
}
.pf-v5-c-page__main .pf-v5-c-form .pf-v5-c-form-control:after, .pf-v5-c-page__main .pf-v5-c-form .pf-v5-c-form-control:before {
  display: none;
}
.pf-v5-c-page__main .pf-v5-c-form .pf-v5-c-form-control input[type=text] {
  font-size: 14px;
  color: #262626;
  font-weight: 400;
  line-height: 1.2;
  height: 40px;
  background: #ffffff;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  outline: none;
  box-shadow: none;
  padding: 0px 16px;
}
.pf-v5-c-page__main .pf-v5-c-form .pf-v5-c-form-control input[type=text]:focus {
  outline: 2px solid #0A9D81;
  outline-offset: -2px;
}
.pf-v5-c-page__main .pf-v5-c-form .pf-v5-c-form-control.pf-m-disabled input[type=text] {
  color: #8d8d8d;
  border-bottom: none;
}
.pf-v5-c-page__main .pf-v5-c-form .pf-v5-c-form__actions .pf-v5-c-button {
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  padding: 0px 64px 0px 16px;
}
.pf-v5-c-page__main .pf-v5-c-form .pf-v5-c-form__actions .pf-v5-c-button.pf-m-primary:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: -3px;
}
.pf-v5-c-page__main .pf-v5-c-form .pf-v5-c-form__actions .pf-v5-c-button.pf-m-link:hover {
  background-color: #e0e0e0;
}
.pf-v5-c-page__main .pf-v5-c-form .pf-v5-c-form__actions .pf-v5-c-button.pf-m-link:focus-visible {
  outline: 2px solid #0A9D81;
  outline-offset: -2px;
  color: #0A9D81;
}
.pf-v5-c-page__main .pf-v5-c-jump-links__label {
  font-size: 14px;
  font-weight: 400;
}
.pf-v5-c-page__main .pf-v5-c-jump-links__link-text {
  font-size: 14px;
  font-weight: 400;
}

.pf-v5-c-menu .pf-v5-c-menu__list {
  padding: 0px;
}
.pf-v5-c-menu .pf-v5-c-menu__list .pf-v5-c-menu__item {
  font-size: 14px;
  line-height: 24px;
  padding: 12px 16px;
  background-color: #262626;
  color: #c6c6c6;
}
.pf-v5-c-menu .pf-v5-c-menu__list .pf-v5-c-menu__item:hover {
  color: #f4f4f4;
  background-color: #393939;
}
.pf-v5-c-menu .pf-v5-c-menu__list .pf-v5-c-menu__item:focus-visible {
  outline: 2px solid #f4f4f4;
  outline-offset: -2px;
}

.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-page__main-section {
  background-color: #262626;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-page__main-section h1.pf-m-2xl {
  font-size: 32px;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-page__main-section h1.pf-m-xl {
  margin-bottom: 48px;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-page__main-section h1.pf-m-xl:focus-visible {
  outline: 2px solid #0A9D81;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-page__main-section p {
  color: #c6c6c6;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-page__main-section ul {
  border-color: #525252;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-page__main-section ul li {
  border-color: #525252;
  background-color: #262626;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-c-data-list.signed-in-device-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row {
  background-color: #393939;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-c-data-list.signed-in-device-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row:first-child::before {
  background-color: #0A9D81;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-c-data-list.signed-in-device-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row .pf-v5-svg {
  background-image: url("../img/screen--gray10.svg");
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-c-data-list.signed-in-device-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row .signed-in-device-grid .pf-v5-c-description-list__term .pf-v5-c-description-list__text {
  font-size: 12px !important;
  font-weight: 400;
  opacity: 0.6;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-c-data-list.signed-in-device-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row .signed-in-device-grid .pf-v5-c-description-list__description pf-v5-c-description-list__text {
  font-size: 12px !important;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-c-data-list.signed-in-device-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row .pf-v5-c-label {
  background-color: #085849;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-page__main-section .pf-v5-c-data-list.signed-in-device-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row .pf-v5-c-label .pf-v5-c-label__content .pf-v5-c-label__text {
  color: #BFEEE5;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-form .pf-v5-c-form__label-text {
  color: #c6c6c6;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-form .pf-v5-c-form-control input[type=text] {
  color: #f4f4f4;
  background: #393939;
  border-bottom: 1px solid #6f6f6f;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-form .pf-v5-c-form-control input[type=text]:focus {
  outline: 2px solid #f4f4f4;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-form .pf-v5-c-form-control.pf-m-disabled input[type=text] {
  color: #8d8d8d;
  border-bottom: none;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-form .pf-v5-c-form__actions .pf-v5-c-button.pf-m-link:hover {
  background-color: #393939;
}
.pf-v5-theme-dark .pf-v5-c-page__main .pf-v5-c-form .pf-v5-c-form__actions .pf-v5-c-button.pf-m-link:focus-visible {
  outline: 2px solid #0A9D81;
  outline-offset: -2px;
  color: #0A9D81;
}

#applications-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row .pf-v5-c-data-list__item-control .pf-v5-c-data-list__toggle .pf-v5-c-button .pf-v5-c-data-list__toggle-icon {
  background-image: url("../img/chevron--right.svg");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: block;
  content: "";
}
#applications-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row .pf-v5-c-data-list__item-control .pf-v5-c-data-list__toggle .pf-v5-c-button .pf-v5-c-data-list__toggle-icon svg {
  display: none;
}
#applications-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row .pf-v5-c-data-list__item-content {
  padding-block-end: 16px;
}
#applications-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row .pf-v5-c-data-list__item-content .pf-v5-c-button {
  gap: 16px;
  padding-left: 16px !important;
  margin-left: -16px;
}
#applications-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row .pf-v5-c-data-list__item-content .pf-v5-c-button:before {
  background-image: url("../img/launch--primary.svg");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  content: "";
}
#applications-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row .pf-v5-c-data-list__item-content .pf-v5-c-button svg {
  display: none;
}
#applications-list .pf-v5-c-data-list__item .pf-v5-c-data-list__expandable-content {
  padding-inline-start: 64px !important;
}

.pf-v5-theme-dark #applications-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row .pf-v5-c-data-list__item-control .pf-v5-c-data-list__toggle .pf-v5-c-button .pf-v5-c-data-list__toggle-icon {
  background-image: url("../img/chevron--right--white.svg");
}
.pf-v5-theme-dark #applications-list .pf-v5-c-data-list__item .pf-v5-c-data-list__item-row .pf-v5-c-data-list__item-content .pf-v5-c-button:before {
  background-image: url("../img/launch--primary.svg");
}
